*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}
body{
    font-family: 'Tajawal', sans-serif;
}
:root{
    --10-px:10px;
    --1c:#35b49f;
    --2c:#AFD6BB;
    --3c:#eca338;
    --4c:#242F38;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    
    
}
/* Extra small devices (phones, 600px and down) */
/* @media (max-width: 600px) { }

*/

/* Small devices (portrait tablets and large phones, 600px and up)
@media (min-width: 600px) { }

*/
@media (min-width: 768px) {
    .container{
        width: 750px;
        
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
        width: 750px;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media  (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global */
.time{
    margin-top: var(--10-px);
    margin-bottom: var(--10-px);
    padding-top: var(--10-px);
    padding-bottom: var(--10-px);
    border-radius: var(--10-px);
    background:linear-gradient(45deg, var(--2c),  var(--1c));
    color: #fff;
    padding-right: 15px;
    position: relative;
}
@media (max-width: 768px) {
    .time{
        border: none;
    }
}
.time > svg{
    font-size: 40px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.time .time-now{
    display: flex;
    align-items: center;
    justify-content: right;
    
}
.city{
    width: 100px;
}
.city select{
    display: block;
    border: none;
    width: 100%;
    background: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    outline: 1px solid #fff;
    
}
/* START DATE  */
.date .container {
    display: grid;
    justify-content: space-between;
    gap: 1%;
    grid-template-columns: repeat(auto-fill, minmax(48.5%, 1fr));
}
@media (max-width: 768px) {
    .date .container {
        gap: 10px;  
    }
}

.date .content{
    background-color: var(--2c);
    display: flex;
    align-items: center;
    padding: var(--10-px);
    color: var(--4c);
    border-radius:15px ;
    
}
.date .content h1{
    margin-left: 15px;
    background-color: var(--3c);
    color: #fff;
    border-radius:50% ;
    width: 50px;
    height: 50px;
    padding: 2px;
    text-align: center;
    
}
.date .content .box{
    display: flex;
}

@media (max-width: 768px) {
    .date .content .box{
        flex-direction: column;
    }
}
.date .content h4{
    color: #fff;
}
/* END DATE */
/* start remember */
.remember{
    margin-top: var(--10-px);
    margin-bottom: var(--10-px);
    
}
.remember .container h5{
    background:linear-gradient(45deg, var(--2c),  var(--1c));
    padding-top: var(--10-px);
    padding-bottom: var(--10-px);
    color: var(--4cc);
    text-align: center;
    border-radius: 15px;
}
/* end remember */
/* start prayer-time */
.prayer-time {
    margin-top: var(--10-px);
    margin-bottom: var(--10-px);
}
.prayer-time .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 10px;
}
.prayer-time .pray{
    background-color: #EEE;
    text-align: center;
    border-radius: var(--10-px);
    padding: 4px;
    color: var(--4c);
}
.prayer-time .pray i{
    color: var(--3c);
}
.prayer-time .pray h4{
    color: var(--1c);
}
.prayer-time .pray h5{
    color: var(--4c);
}
/* end prayer-time */
/* start hadith */
.hadith{
    margin-top: var(--10-px);
    margin-bottom: var(--10-px);
}
.hadith .content{
    background-color: var(--3c);
    padding: var(--10-px);
   
    border-radius: var(--10-px);
    display: flex;
    flex-direction: column;
}
.hadith .content .hokom{
    text-align: left;
    background-color: var(--2c);
    width: fit-content;
    padding: 4px 15px;
    border-radius: 25px;
    align-self: end;
    
}
/* end hadith */